#Rstudio
.Rproj.user
.Rhistory
.RData
*.Rproj
#build
pkg/src/*.o
pkg/src/*.so
pkg/src/*.dll
pkg/src/symbols.rds
#check
plyrmr.Rcheck/*
#rmr2 files
rmr-global-*
rmr-local-*
rmr-streaming-*
#profiling
Rprof.out
#merge
*.orig

# only distro binaries in build dir
*.gz
!build/*

.Renviron

*.o

*.so

plyrmr-Ex.pdf

quickcheck*

pkg.Rcheck/*