#Rstudio
.Rproj.user
.Rhistory
.RData
*.Rproj
#build
src/*.o
src/*.so
src/*.dll
#check
plyrmr.Rcheck/*
#rmr2 files
rmr-global-*
rmr-local-*
rmr-streaming-*
#profiling
Rprof.out
#merge
*.orig

# only distro binaries in build dir
*.gz
!build/*

.Renviron
