# Copyright 2013 Revolution Analytics
#    
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, 
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


useDynLib(plyrmr)
importFrom("reshape2", melt)

#big.data
export(
	to.rmr,
	get.format)
S3method(as.character, big.data)
S3method(as.big.data, character)
S3method(as.big.data, "function")
S3method(as.big.data, data.frame)
S3method(as.big.data, "list")
S3method(as.data.frame, big.data)
S3method(as.big.data, big.data)
S3method(print, big.data)
S3method(as.data.frame, pipe)
#pipes
export(
	do,
	magic.wand,
	group,
	group.f,
	gather,
	is.grouped,
	is.root,
	ungroup,
	output,
	input,
	"%|%",
	"%*%")
S3method(as.pipe, big.data)
S3method(as.pipe, data.frame)
S3method(as.pipe, character)
S3method(as.pipe, "function")
S3method(as.pipe, "list")
S3method(as.character, pipe)
S3method(as.big.data, pipe)
S3method(print, pipe)
#base
export(
	transform,
	subset,
	sample)
S3method(subset, pipe)
S3method(transform, pipe)
S3method(sample, default)
S3method(sample, data.frame)
#S3method(names, pipe)
S3method(sample, pipe)
#plyr
export(
	mutate,
	summarize)
S3method(mutate, default)
S3method(summarize, pipe)
S3method(mutate, pipe)
S3method(summarize, default)
#sql-ish
export(
	select,
	where,
	merge)
S3method(select, pipe)
S3method(select, data.frame)
S3method(where, pipe)
S3method(where, data.frame)
S3method(merge, pipe)
#arrange-like
export(
	top.k,
	bottom.k,
	moving.window,
	quantile.cols,
	count.cols,
	rbind,
	union,
	intersect)
S3method(count.cols, data.frame)
S3method(count.cols, pipe)
S3method(count.cols, default)
S3method(quantile.cols, pipe)
S3method(quantile.cols, data.frame)
#S3method(quantile, pipe)
#S3method(quantile, data.frame)
S3method(unique, pipe)
S3method(rbind, pipe)
S3method(rbind, default)
S3method(union, data.frame)
S3method(union, pipe)
S3method(intersect, data.frame)
S3method(intersect, pipe)
#reshape2
export(dcast)
S3method(dcast, pipe)
S3method(dcast, default)
S3method(melt, pipe)
#fast summaries
export(fast.summary)
S3method(fast.summary, pipe)


